.main {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   justify-content: flex-start;
   align-items: flex-start;
   list-style: none;
   margin-left: 0px;
   padding-left: 0px;
   font-size: 1rem;
}

.main button {
   font-weight: bold;
}

.selected {
   color: #3c80cd;
}
