.menu {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 8px;
   list-style: none;
}
.menu ul {
   list-style: none;
   border-left: 1px solid #3a475a;
   margin-left: 12px;
   padding-left: 20px;
   margin-top: 5px;
}

.sectionHeader {
   display: flex;
   font-size: 1.25rem;
}
.sectionHeader svg {
   margin-right: 8px;
}

.menu ul li {
   padding-top: 2px;
   padding-bottom: 2px;
}
.menu ul li:hover {
   color: rgb(210, 76, 76);
}
.menu ul li:global(.active) {
   background-color: rgba(
      var(--mui-palette-primary-mainChannel) /
         var(--mui-palette-action-selectedOpacity)
   );
   color: rgb(205, 240, 252);
}

.menu a {
   text-decoration: none;
}
